@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eurostral 100</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @{
            var myChart = new Chart(width: 600, height: 400)
                .AddTitle("Chart Title")
                .AddSeries(
                    name: "Employee",
                    xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
                    yValues: new[] { "2", "6", "4", "5", "3" })
                    .AddSeries("Default",chartType: "Line")
                .Write();
        }
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

    <div id="Info">
        val : @ViewData["Price"]
    </div>
    <input id="goBtn" type="button" value="Price en 0" OnClick="goBtn_Click" /></div>

    <div id="menu">
    <ul>
        <li>@Html.ActionLink("Accueil", "Index")</li>
        <li>@Html.ActionLink("Liste des tutoriels", "Contact")</li>
        <li>@Html.ActionLink("Forum", "about")</li>
    </ul>
</div>
