@model WebEurostral.Models.EurostralModels

@{
    ViewBag.Title = "PorteFeuile de couverture";
}""

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainerPortefeuille", {
		zoomEnabled: true,
		animationEnabled: true,
		title: {
			text: "PorteFeuille de couverture"
		},
		axisY: {
			includeZero: false,
			lineThickness: 1
		},
		data: [{
		    type: "line",
		    dataPoints: @Html.Raw(ViewBag.PfC),
		    showInLegend:true,
		    name: "Valeur du portefeuille de couverture"
		    },{
		        type: "line",
		        dataPoints: @Html.Raw(ViewBag.prix),
                showInLegend:true,
                name: "Prix de l'option"

		}]
	});



	var startTime = new Date();
	chart.render();
	chart2.render();
	var endTime = new Date();
	document.getElementById("timeToRender").innerHTML = "Time to Render: " + (endTime - startTime) + "ms";

}
    </script>
    <style>
        #timeToRender {
            position: absolute;
            top: 10px;
            font-size: 20px;
            font-weight: bold;
            background-color: #d85757;
            padding: 0px 4px;
            color: #ffffff;
        }
    </style>


</head>
<body>
    <div class="page-header" id="chartContainerPortefeuille" style="height: 370px; width: 100%;"></div>
    <span id="timeToRender"></span>
    <script src="~/Scripts/canvasjs.min.js"></script>
</body>
</html>       